<%- include('./partials/header.ejs') %>
<h1>Home</h1>
<p><%= content %></p>
<h2>Latest posts</h2>
<div>
  <% posts.forEach((post) => { %>
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
  <% }) %>
</div>
<%- include('./partials/footer.ejs') %>