<%- include('./partials/header.ejs') %>
<h1>Home</h1>
<p><%= content %></p>
<h2>Latest posts</h2>
<div class="posts">
  <% posts.forEach((post) => { %>
    <h3><%= post.title %></h3>
    <div class="post-summary">
      <p><%= post.content %></p>
      <a href="/posts/<%= post.id %>" class="link-primary">Read more</a>
    </div>
  <% }) %>
</div>
<%- include('./partials/footer.ejs') %>